<div class="hello" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <h1>Список галактических кораблей</h1>
    <input type="text" v-model="search">
    <input type="button" v-on:click="showResults(1)" value="Найти" v-bind:disabled="isLoading || !search">
    <input type="button" v-on:click="clearSearchResults()" value="Очистить" v-bind:disabled="isLoading || !search">
    <div v-if="isLoading">Грузим...</div>
    <div v-if="!isLoading && count">
        <p v-if="searchQuery">
            <a v-bind:href="searchQuery" target="_blank">
                Открыть результаты в новом окне ({{searchQuery}})
            </a>
        </p>
        <p>
            Страница {{page}} (результаты с {{(page - 1) * 10 + 1}} по {{(page - 1) * 10 + ships.length}} из {{count}})
        </p>
        <link rel="stylesheet" href="./galactic-ships-list.css" />
        <div style="width: 300px;">
            <button v-if="previousPage" v-on:click="showPreviousPage()">Назад</button>
            <button v-if="nextPage" v-on:click="showNextPage()">Вперёд</button>
        </div>
        <ul>
            <li
                    v-for="(s, index) in ships"
                    style="list-style: none; cursor: pointer;">
                {{(page - 1) * 10 + index + 1}}.&nbsp;
                <router-link :to="{ name: 'DetailedShipInformation', params: { shipID: s.id }}" v-if="s.id">
                    {{ s.name }}
                </router-link>
            </li>
        </ul>
        <em>
            Для просмотра подробной информации нажмите на названиe корабля
        </em>
    </div>
    <p v-if="!(isLoading || count)">
        Не найден ни один корабль.
    </p>
</div>
