<div>
    <div v-if="isLoading">Грузим...</div>
    <div v-if="!isLoading && ship">
        <h2>{{ship.name || '(название отсутствует)'}} ({{ship.starshipClass || 'неизвестный класс корабля'}})</h2>
        <em>Дата создания: {{new Date(ship.created)}}</em>
        <h4>Характеристики:</h4>
        <ul>
            <li>Модель: {{ship.model}}</li>
            <li>Производитель: {{ship.manufacturer}}</li>
            <li>Стоимость: {{ship.costInCredits}}</li>
            <li>Длина: {{ship.length}}</li>
            <li>Макс. скорость: {{ship.maxAtmoshperingSpeed}}</li>
            <li>Экипаж: {{ship.crew}}</li>
            <li>Пассажиры: {{ship.passengers}}</li>
            <li>Грузоподъёмность: {{ship.cargoCapacity}}</li>
            <li>Припасы: {{ship.consumables}}</li>
            <li>Рейтинг: {{ship.hyperdriveRating}}</li>
            <li>MGLT: {{ship.mglt}}</li>
            <li v-if="ship.pilots.length > 0">
                Пилоты:
                <ul style="list-style: none;">
                    <li v-for="p in ship.pilots">{{p}}</li>
                </ul>
            </li>
            <li v-if="ship.films.length > 0">
                Ссылки на фильмы:
                <ul style="list-style: none;">
                    <li v-for="f in ship.films">{{f}}</li>
                </ul>
            </li>
        </ul>
        <em>Дата последнего редактирования: {{new Date(ship.edited)}}</em>
    </div>
    <div v-if="!(isLoading || ship)">
        Корабль не найден.
    </div>
</div>
