<div id="app">
    <link rel="stylesheet" href="./App.css">
    <div id="nav">
        <router-link to="/">К списку кораблей</router-link> |
    </div>
    <keep-alive>
        <router-view/>
    </keep-alive>
</div>
